*.bak
greybox_tmp
/SD
/_bak
/DOCs/hdmi
/SD
/synth/DE1/db
/synth/DE1/incremental_db
/synth/DE1/output_files
/synth/DE1/simulation/modelsim
/synth/DE1/*.qws
/synth/DE1/*.qip
/synth/DE1/*.rpt
/synth/DE2/db
/synth/DE2/incremental_db
/synth/DE2/output_files
/synth/DE2/simulation/modelsim
/synth/DE2/*.qws
/synth/DE2/*.qip
/synth/multicore/db
/synth/multicore/incremental_db
/synth/multicore/output_files
/synth/multicore/*.qip
/synth/multicore/*.qws
/synth/multicore/PLLJ_PLLSPE_INFO.txt
/synth/multicore2/db
/synth/multicore2/incremental_db
/synth/multicore2/output_files
/synth/multicore2/*.qip
/synth/multicore2/*.qws
/synth/multicore2/PLLJ_PLLSPE_INFO.txt
/synth/mist/db
/synth/mist/incremental_db
/synth/mist/output_files
/synth/mist/simulation/modelsim
/synth/mist/*.qip
/synth/mist/*.qws
/synth/mist/PLLJ_PLLSPE_INFO.txt
/synth/wxeda/db
/synth/wxeda/incremental_db
/synth/wxeda/output_files
/synth/wxeda/simulation/modelsim
/synth/wxeda/*.qws
/synth/wxeda/*.qip
/synth/wxeda/PLLJ_PLLSPE_INFO.txt
/synth/zxuno/*.html
/synth/zxuno/_xmsgs
/synth/zxuno/_ngo
/synth/zxuno/iseconfig
/synth/zxuno/xst
/synth/zxuno/xlnx_auto_0_xdb
/synth/zxuno/*.xml
/synth/zxuno/*.gise
/synth/zxuno/*.bld
/synth/zxuno/*.cmd_log
/synth/zxuno/*.lso
/synth/zxuno/*.ncd
/synth/zxuno/*.ngc
/synth/zxuno/*.ngd
/synth/zxuno/*.ngr
/synth/zxuno/*.pad
/synth/zxuno/*.par
/synth/zxuno/*.pcf
/synth/zxuno/*.prj
/synth/zxuno/*.ptwx
/synth/zxuno/*.stx
/synth/zxuno/*.syr
/synth/zxuno/*.twr
/synth/zxuno/*.twx
/synth/zxuno/*.unroutes
/synth/zxuno/*.xpi
/synth/zxuno/*.map
/synth/zxuno/*.mrp
/synth/zxuno/*.ngm
/synth/zxuno/*.xrpt
/synth/zxuno/*.csv
/synth/zxuno/*.txt
/synth/zxuno/*.log
/synth/zxuno/*.bgn
/synth/zxuno/*.bit
/synth/zxuno/*.drc
/synth/zxuno/*.ut
/synth/zxuno/*.xwbt
/synth/zxuno/ise_impact.cmd
/synth/zxuno/*.debug
/synth/zxuno/*.tcl
/synth/zxuno/*.dmp
/synth/zxuno/ipcore_dir/_xmsgs
/synth/zxuno/ipcore_dir/*.cgc
/synth/zxuno/ipcore_dir/*.ncf
/synth/zxuno/ipcore_dir/pll1
/synth/zxuno/ipcore_dir/tmp
/synth/zxuno/ipcore_dir/*.asy
/synth/zxuno/ipcore_dir/*.gise
/synth/zxuno/ipcore_dir/*.vho
/synth/zxuno/ipcore_dir/*.xdc
/synth/zxuno/ipcore_dir/*.txt
/synth/zxuno/ipcore_dir/*.tcl
/synth/zxuno/ipcore_dir/coregen.log
/synth/zxuno/planAhead_run_1/ZXUNO.data/constrs_1
/synth/zxuno/planAhead_run_1
/synth/zxuno_vga2m/*.html
/synth/zxuno_vga2m/_xmsgs
/synth/zxuno_vga2m/_ngo
/synth/zxuno_vga2m/iseconfig
/synth/zxuno_vga2m/xst
/synth/zxuno_vga2m/xlnx_auto_0_xdb
/synth/zxuno_vga2m/*.xml
/synth/zxuno_vga2m/*.gise
/synth/zxuno_vga2m/*.bld
/synth/zxuno_vga2m/*.cmd_log
/synth/zxuno_vga2m/*.lso
/synth/zxuno_vga2m/*.ncd
/synth/zxuno_vga2m/*.ngc
/synth/zxuno_vga2m/*.ngd
/synth/zxuno_vga2m/*.ngr
/synth/zxuno_vga2m/*.pad
/synth/zxuno_vga2m/*.par
/synth/zxuno_vga2m/*.pcf
/synth/zxuno_vga2m/*.prj
/synth/zxuno_vga2m/*.ptwx
/synth/zxuno_vga2m/*.stx
/synth/zxuno_vga2m/*.syr
/synth/zxuno_vga2m/*.twr
/synth/zxuno_vga2m/*.twx
/synth/zxuno_vga2m/*.unroutes
/synth/zxuno_vga2m/*.xpi
/synth/zxuno_vga2m/*.map
/synth/zxuno_vga2m/*.mrp
/synth/zxuno_vga2m/*.ngm
/synth/zxuno_vga2m/*.xrpt
/synth/zxuno_vga2m/*.csv
/synth/zxuno_vga2m/*.txt
/synth/zxuno_vga2m/*.log
/synth/zxuno_vga2m/*.bgn
/synth/zxuno_vga2m/*.bit
/synth/zxuno_vga2m/*.drc
/synth/zxuno_vga2m/*.ut
/synth/zxuno_vga2m/*.xwbt
/synth/zxuno_vga2m/ise_impact.cmd
/synth/zxuno_vga2m/*.debug
/synth/zxuno_vga2m/*.tcl
/synth/zxuno_vga2m/*.dmp
/synth/zxuno_vga2m/ipcore_dir/_xmsgs
/synth/zxuno_vga2m/ipcore_dir/*.cgc
/synth/zxuno_vga2m/ipcore_dir/*.ncf
/synth/zxuno_vga2m/ipcore_dir/pll1
/synth/zxuno_vga2m/ipcore_dir/tmp
/synth/zxuno_vga2m/ipcore_dir/*.asy
/synth/zxuno_vga2m/ipcore_dir/*.gise
/synth/zxuno_vga2m/ipcore_dir/*.vho
/synth/zxuno_vga2m/ipcore_dir/*.xdc
/synth/zxuno_vga2m/ipcore_dir/*.txt
/synth/zxuno_vga2m/ipcore_dir/*.tcl
/synth/zxuno_vga2m/ipcore_dir/coregen.log
/synth/zxuno_vga2m/planAhead_run_1/ZXUNO.data/constrs_1
/synth/zxuno_vga2m/planAhead_run_1
/synth/wxedax/*.html
/synth/wxedax/ipcore_dir/pll1
/synth/wxedax/_xmsgs
/synth/wxedax/_ngo
/synth/wxedax/iseconfig
/synth/wxedax/ipcore_dir/tmp
/synth/wxedax/xst
/synth/wxedax/ipcore_dir/*.asy
/synth/wxedax/ipcore_dir/*.gise
/synth/wxedax/ipcore_dir/*.vho
/synth/wxedax/ipcore_dir/*.xdc
/synth/wxedax/ipcore_dir/*.txt
/synth/wxedax/ipcore_dir/*.tcl
/synth/wxedax/ipcore_dir/*.log
/synth/wxedax/xlnx_auto_0_xdb
/synth/wxedax/*.xml
/synth/wxedax/*.gise
/synth/wxedax/*.bld
/synth/wxedax/*.cmd_log
/synth/wxedax/*.lso
/synth/wxedax/*.ncd
/synth/wxedax/*.ngc
/synth/wxedax/*.ngd
/synth/wxedax/*.ngr
/synth/wxedax/*.pad
/synth/wxedax/*.par
/synth/wxedax/*.pcf
/synth/wxedax/*.prj
/synth/wxedax/*.ptwx
/synth/wxedax/*.stx
/synth/wxedax/*.syr
/synth/wxedax/*.twr
/synth/wxedax/*.twx
/synth/wxedax/*.unroutes
/synth/wxedax/*.xpi
/synth/wxedax/*.map
/synth/wxedax/*.mrp
/synth/wxedax/*.ngm
/synth/wxedax/*.xrpt
/synth/wxedax/*.csv
/synth/wxedax/*.txt
/synth/wxedax/*.log
/synth/wxedax/*.bgn
/synth/wxedax/*.bit
/synth/wxedax/*.drc
/synth/wxedax/*.ut
/synth/wxedax/*.xwbt
/synth/wxedax/ipcore_dir/_xmsgs
/synth/wxedax/ipcore_dir/*.cgc
/synth/wxedax/ipcore_dir/*.ncf
/synth/qmxc6slx16/*.html
/synth/qmxc6slx16/ipcore_dir/pll1
/synth/qmxc6slx16/_xmsgs
/synth/qmxc6slx16/_ngo
/synth/qmxc6slx16/iseconfig
/synth/qmxc6slx16/ipcore_dir/tmp
/synth/qmxc6slx16/xst
/synth/qmxc6slx16/ipcore_dir/*.asy
/synth/qmxc6slx16/ipcore_dir/*.gise
/synth/qmxc6slx16/ipcore_dir/*.vho
/synth/qmxc6slx16/ipcore_dir/*.xdc
/synth/qmxc6slx16/ipcore_dir/*.txt
/synth/qmxc6slx16/ipcore_dir/*.tcl
/synth/qmxc6slx16/ipcore_dir/*.log
/synth/qmxc6slx16/xlnx_auto_0_xdb
/synth/qmxc6slx16/*.xml
/synth/qmxc6slx16/*.gise
/synth/qmxc6slx16/*.bld
/synth/qmxc6slx16/*.cmd_log
/synth/qmxc6slx16/*.lso
/synth/qmxc6slx16/*.ncd
/synth/qmxc6slx16/*.ngc
/synth/qmxc6slx16/*.ngd
/synth/qmxc6slx16/*.ngr
/synth/qmxc6slx16/*.pad
/synth/qmxc6slx16/*.par
/synth/qmxc6slx16/*.pcf
/synth/qmxc6slx16/*.prj
/synth/qmxc6slx16/*.ptwx
/synth/qmxc6slx16/*.stx
/synth/qmxc6slx16/*.syr
/synth/qmxc6slx16/*.twr
/synth/qmxc6slx16/*.twx
/synth/qmxc6slx16/*.unroutes
/synth/qmxc6slx16/*.xpi
/synth/qmxc6slx16/*.map
/synth/qmxc6slx16/*.mrp
/synth/qmxc6slx16/*.ngm
/synth/qmxc6slx16/*.xrpt
/synth/qmxc6slx16/*.csv
/synth/qmxc6slx16/*.txt
/synth/qmxc6slx16/*.log
/synth/qmxc6slx16/*.bgn
/synth/qmxc6slx16/*.bit
/synth/qmxc6slx16/*.drc
/synth/qmxc6slx16/*.ut
/synth/qmxc6slx16/*.xwbt
/synth/qmxc6slx16/ipcore_dir/_xmsgs
/synth/qmxc6slx16/ipcore_dir/*.cgc
/synth/qmxc6slx16/ipcore_dir/*.ncf
/ROMs/loader/*.bin
/ROMs/loader/*.ihx
/ROMs/loader/*.lk
/ROMs/loader/*.map
/ROMs/loader/*.mif
/ROMs/loader/*.noi
/ROMs/loader/obj
/ROMs/loader2/*.bin
/ROMs/loader2/*.ihx
/ROMs/loader2/*.lk
/ROMs/loader2/*.map
/ROMs/loader2/*.mif
/ROMs/loader2/*.noi
/ROMs/loader2/obj
/ROMs/nextor/*.lst
/ROMs/nextor/*.ROM
/ROMs/nextor/*.bin
/Software/loader/*.bin
/Software/loader/*.ihx
/Software/loader/*.lk
/Software/loader/*.map
/Software/loader/*.mif
/Software/loader/*.noi
/Software/loader/obj
/Software/msxctrl/*.ihx
/Software/msxctrl/*.lk
/Software/msxctrl/*.map
/Software/msxctrl/*.noi
/Software/msxctrl/obj
/Software/nextor/*.lst
/Software/nextor/driver.bin
/Software/updater/*.ihx
/Software/updater/*.lk
/Software/updater/*.map
/Software/updater/*.noi
/Software/updater/obj
/Utils/*.ROM
/Utils/*.wav
/Utils/det3/*.lst
/Utils/tb_test/*.bin
/Utils/tb_test/*.lst
/src/ram/pll1.qip
/src/syn-wxeda/*.cmp
/src/syn-de1/*.cmp
/src/rom/*.cmp
/src/tb/transcript
/src/tb/vsim.wlf
/src/tb/work
/src/peripheral/ese-ram/tb/transcript
/src/peripheral/ese-ram/tb/vsim.wlf
/src/peripheral/ese-ram/tb/work
/src/peripheral/escc/pll1.qip
/src/peripheral/escci/tb/transcript
/src/peripheral/escci/tb/vsim.wlf
/src/peripheral/escci/tb/work
/src/tb_clocks/transcript
/src/tb_clocks/vsim.wlf
/src/tb_clocks/work
/src/tb_msx/transcript
/src/tb_msx/vsim.wlf
/src/tb_msx/wlft8jetaq
/src/tb_msx/wlftkhmeqw
/src/tb_msx/wlftvbthqf
/src/tb_msx/wlftxtxbg5
/src/tb_msx/work
/src/peripheral/pll1.qip
/src/peripheral/tb_swp/work
/src/peripheral/tb_swp/transcript
/src/peripheral/tb_swp/vsim.wlf
/src/peripheral/tb_keyboard/transcript
/src/peripheral/tb_keyboard/vsim.wlf
/src/peripheral/tb_keyboard/work
/src/audio/ym_tb/transcript
/src/audio/ym_tb/vsim.wlf
/src/audio/ym_tb/work
/src/peripheral/tb_keyboard2/transcript
/src/peripheral/tb_keyboard2/*.wlf
/src/peripheral/tb_keyboard2/work
/src/video/tb_vdp18/transcript
/src/video/tb_vdp18/vsim.wlf
/src/video/tb_vdp18/work
/src/rom/pll1.qip
/src/tb_msx/wave1.bmp
/src/video/tb_vdp18/wave1.bmp
/src/video/tb_vdp18/wave2.bmp
/src/video/tb_vdp18/wave3.bmp
/src/video/tb_vga/transcript
/src/video/tb_vga/vsim.wlf
/src/video/tb_vga/work
/src/cpu/tb/transcript
/src/cpu/tb/vsim.wlf
/src/cpu/tb/work
/src/cpu/tb_im2/transcript
/src/cpu/tb_im2/vsim.wlf
/src/cpu/tb_im2/work
/synth/wxedax/*.tcl
/synth/qmxc6slx16/*.xst
/src/audio/i2st_tb/transcript
/src/audio/i2st_tb/vsim.wlf
/src/audio/i2st_tb/work
/src/peripheral/tb_midiIntf/transcript
/src/peripheral/tb_midiIntf/vsim.wlf
/src/peripheral/tb_midiIntf/work
/synth/wxedax/*.debug
/synth/wxedax/planAhead_run_1
/synth/wxedax/planAhead_run_2
/synth/wxedax/planAhead_run_3
/src/peripheral/i8251/tb_uart/transcript
/src/peripheral/i8251/tb_uart/vsim.wlf
/src/peripheral/i8251/tb_uart/work
/src/peripheral/i8253/tb_timer/transcript
/src/peripheral/i8253/tb_timer/vsim.wlf
/src/peripheral/i8253/tb_timer/work
/src/tb_msxMidi3/transcript
/src/tb_msxMidi3/vsim.wlf
/src/tb_msxMidi3/work
/src/peripheral/tb_midi3/transcript
/src/peripheral/tb_midi3/vsim.wlf
/src/peripheral/tb_midi3/work
/DOCs/bugs_todo
/src/peripheral/uart/tb_uart/transcript
/src/peripheral/uart/tb_uart/vsim.wlf
/src/peripheral/uart/tb_uart/work
