_BINs
*.bak
*.cmd
*.kmp
*.chg
*.log
*.pld
*.bmp
vsim.wlf
greybox_tmp
transcript
/_bak
/Support/_
/SW/*/*.COM
/SW/*/*.ROM
/SW/*/*.bin
/SW/*/*.ihx
/SW/*/*.lk
/SW/*/*.map
/SW/*/*.mif
/SW/*/*.noi
/SW/*/obj
/SW/*/*.lst
/src/**/work
/src/*/*.cmp
/src/*/ipcore_dir/_xmsgs
/src/*/ipcore_dir/*.cgc
/src/*/ipcore_dir/*.ncf
/src/*/ipcore_dir/pll1
/src/*/ipcore_dir/tmp
/src/*/ipcore_dir/*.asy
/src/*/ipcore_dir/*.gise
/src/*/ipcore_dir/*.vho
/src/*/ipcore_dir/*.xdc
/src/*/ipcore_dir/*.txt
/src/*/ipcore_dir/*.tcl
/src/*/ipcore_dir/coregen.log
/synth/*/db
/synth/*/incremental_db
/synth/*/output_files
/synth/*/simulation/modelsim
/synth/*/*.qws
/synth/*/*.qip
/synth/*/*.rpt
/synth/*/PLLJ_PLLSPE_INFO.txt
/synth/*/*.html
/synth/*/_xmsgs
/synth/*/_ngo
/synth/*/iseconfig
/synth/*/xst
/synth/*/xlnx_auto_0_xdb
/synth/*/*.xml
/synth/*/*.gise
/synth/*/*.bld
/synth/*/*.cmd_log
/synth/*/*.lso
/synth/*/*.ncd
/synth/*/*.ngc
/synth/*/*.ngd
/synth/*/*.ngr
/synth/*/*.pad
/synth/*/*.par
/synth/*/*.pcf
/synth/*/*.prj
/synth/*/*.ptwx
/synth/*/*.stx
/synth/*/*.syr
/synth/*/*.twr
/synth/*/*.twx
/synth/*/*.unroutes
/synth/*/*.xpi
/synth/*/*.map
/synth/*/*.mrp
/synth/*/*.ngm
/synth/*/*.xrpt
/synth/*/*.csv
/synth/*/*.txt
/synth/*/*.log
/synth/*/*.bgn
/synth/*/*.bit
/synth/*/*.drc
/synth/*/*.ut
/synth/*/*.xwbt
/synth/*/ise_impact.cmd
/synth/*/*.debug
/synth/*/*.tcl
/synth/*/*.dmp
/synth/*/planAhead_run_1
/synth/*/*.ZX1
/Utils/*.ROM
/Utils/*.wav
