*.bak
*.cmd
*.kmp
_BINs
*.chg
*.log
*.pld
greybox_tmp
/Software/*/*.COM
/Software/*/*.bin
/Software/*/*.ihx
/Software/*/*.lk
/Software/*/*.map
/Software/*/*.mif
/Software/*/*.noi
/Software/*/obj
/Software/*/*.lst
/SD
/_bak
/DOCs/hdmi
/src/*/ipcore_dir/_xmsgs
/src/*/ipcore_dir/*.cgc
/src/*/ipcore_dir/*.ncf
/src/*/ipcore_dir/pll1
/src/*/ipcore_dir/tmp
/src/*/ipcore_dir/*.asy
/src/*/ipcore_dir/*.gise
/src/*/ipcore_dir/*.vho
/src/*/ipcore_dir/*.xdc
/src/*/ipcore_dir/*.txt
/src/*/ipcore_dir/*.tcl
/src/*/ipcore_dir/coregen.log
/synth/*/db
/synth/*/incremental_db
/synth/*/output_files
/synth/*/simulation/modelsim
/synth/*/*.qws
/synth/*/*.qip
/synth/*/*.rpt
/synth/*/PLLJ_PLLSPE_INFO.txt
/synth/*/*.html
/synth/*/_xmsgs
/synth/*/_ngo
/synth/*/iseconfig
/synth/*/xst
/synth/*/xlnx_auto_0_xdb
/synth/*/*.xml
/synth/*/*.gise
/synth/*/*.bld
/synth/*/*.cmd_log
/synth/*/*.lso
/synth/*/*.ncd
/synth/*/*.ngc
/synth/*/*.ngd
/synth/*/*.ngr
/synth/*/*.pad
/synth/*/*.par
/synth/*/*.pcf
/synth/*/*.prj
/synth/*/*.ptwx
/synth/*/*.stx
/synth/*/*.syr
/synth/*/*.twr
/synth/*/*.twx
/synth/*/*.unroutes
/synth/*/*.xpi
/synth/*/*.map
/synth/*/*.mrp
/synth/*/*.ngm
/synth/*/*.xrpt
/synth/*/*.csv
/synth/*/*.txt
/synth/*/*.log
/synth/*/*.bgn
/synth/*/*.bit
/synth/*/*.drc
/synth/*/*.ut
/synth/*/*.xwbt
/synth/*/ise_impact.cmd
/synth/*/*.debug
/synth/*/*.tcl
/synth/*/*.dmp
/synth/*/planAhead_run_1
/ROMs/loader/*.bin
/ROMs/loader/*.ihx
/ROMs/loader/*.lk
/ROMs/loader/*.map
/ROMs/loader/*.mif
/ROMs/loader/*.noi
/ROMs/loader/obj
/ROMs/loader2/*.bin
/ROMs/loader2/*.ihx
/ROMs/loader2/*.lk
/ROMs/loader2/*.map
/ROMs/loader2/*.mif
/ROMs/loader2/*.noi
/ROMs/loader2/obj
/ROMs/nextor/*.lst
/ROMs/nextor/*.ROM
/ROMs/nextor/*.bin
/Utils/*.ROM
/Utils/*.wav
/Utils/det3/*.lst
/Utils/tb_test/*.bin
/Utils/tb_test/*.lst
/src/ram/pll1.qip
/src/syn-wxeda/*.cmp
/src/syn-de1/*.cmp
/src/rom/*.cmp
/src/tb/transcript
/src/tb/vsim.wlf
/src/tb/work
/src/peripheral/ese-ram/tb/transcript
/src/peripheral/ese-ram/tb/vsim.wlf
/src/peripheral/ese-ram/tb/work
/src/peripheral/escc/pll1.qip
/src/peripheral/escci/tb/transcript
/src/peripheral/escci/tb/vsim.wlf
/src/peripheral/escci/tb/work
/src/tb_clocks/transcript
/src/tb_clocks/vsim.wlf
/src/tb_clocks/work
/src/tb_msx/transcript
/src/tb_msx/vsim.wlf
/src/tb_msx/wlft8jetaq
/src/tb_msx/wlftkhmeqw
/src/tb_msx/wlftvbthqf
/src/tb_msx/wlftxtxbg5
/src/tb_msx/work
/src/peripheral/pll1.qip
/src/peripheral/tb_swp/work
/src/peripheral/tb_swp/transcript
/src/peripheral/tb_swp/vsim.wlf
/src/peripheral/tb_keyboard/transcript
/src/peripheral/tb_keyboard/vsim.wlf
/src/peripheral/tb_keyboard/work
/src/audio/ym_tb/transcript
/src/audio/ym_tb/vsim.wlf
/src/audio/ym_tb/work
/src/peripheral/tb_keyboard2/transcript
/src/peripheral/tb_keyboard2/*.wlf
/src/peripheral/tb_keyboard2/work
/src/video/tb_vdp18/transcript
/src/video/tb_vdp18/vsim.wlf
/src/video/tb_vdp18/work
/src/rom/pll1.qip
/src/tb_msx/wave1.bmp
/src/video/tb_vdp18/wave1.bmp
/src/video/tb_vdp18/wave2.bmp
/src/video/tb_vdp18/wave3.bmp
/src/video/tb_vga/transcript
/src/video/tb_vga/vsim.wlf
/src/video/tb_vga/work
/src/cpu/tb/transcript
/src/cpu/tb/vsim.wlf
/src/cpu/tb/work
/src/cpu/tb_im2/transcript
/src/cpu/tb_im2/vsim.wlf
/src/cpu/tb_im2/work
/synth/wxedax/*.tcl
/synth/qmxc6slx16/*.xst
/src/audio/i2st_tb/transcript
/src/audio/i2st_tb/vsim.wlf
/src/audio/i2st_tb/work
/src/peripheral/tb_midiIntf/transcript
/src/peripheral/tb_midiIntf/vsim.wlf
/src/peripheral/tb_midiIntf/work
/synth/wxedax/*.debug
/synth/wxedax/planAhead_run_1
/synth/wxedax/planAhead_run_2
/synth/wxedax/planAhead_run_3
/src/peripheral/i8251/tb_uart/transcript
/src/peripheral/i8251/tb_uart/vsim.wlf
/src/peripheral/i8251/tb_uart/work
/src/peripheral/i8253/tb_timer/transcript
/src/peripheral/i8253/tb_timer/vsim.wlf
/src/peripheral/i8253/tb_timer/work
/src/tb_msxMidi3/transcript
/src/tb_msxMidi3/vsim.wlf
/src/tb_msxMidi3/work
/src/peripheral/tb_midi3/transcript
/src/peripheral/tb_midi3/vsim.wlf
/src/peripheral/tb_midi3/work
/DOCs/bugs_todo
/src/peripheral/uart/tb_uart/transcript
/src/peripheral/uart/tb_uart/vsim.wlf
/src/peripheral/uart/tb_uart/work
/Software/updater/msx1upd.com
_clean.cmd
